@import url('https://fonts.googleapis.com/css?family=Changa');
@import url('https://fonts.googleapis.com/css?family=Cairo:700');
@import url('https://fonts.googleapis.com/css?family=Lalezar');
@import url('https://fonts.googleapis.com/css?family=Lemonada:600');
@import url('https://fonts.googleapis.com/css?family=Mada:500');
@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);

body {background-color:  #E5E5E5 !important;}

p, h1, h2, h3, h4, h5, h6 {direction: rtl;}

.alert{
    font-family: 'Changa', sans-serif;
    font-weight: bold;
}

.modal-content{
    top: 120px;
}
.modal-title{
    text-align: right;
    font-family: 'Changa', sans-serif;
}
.close {
   float: left !important;
    opacity: 1 !important;
}

.modal-body{
    direction: rtl;
    font-family: 'Changa', sans-serif;
}


.toplane {
    opacity: 0.99 ;
}

.item-video {font-family: 'Changa', sans-serif; position: relative; bottom: 20px;}
.button-video {background-color:#DB0000; color: #FFFFFF; width: 150px; margin-top: 10px;
                transition: background-color 1.5s ease-out, color 0.5s ease-out, width 1.5s ease-out}
.button-video:hover {background-color: #880000; color: #FFFFFF !important; width: 100%;}
#mybar { background-color: white;}
.media ul {padding-left: 90px;padding-top: 10px;margin-top: 25px;}
.logo {direction: rtl;margin-top: 25px;}
.logo img {width: 220px;height: 120px; transition: width 1s ease-out, height 1s ease-out; }
.logo img:hover {width: 250px;height: 150px;}
#linklist li a {font-weight: bold;font-family: 'Changa', sans-serif;color:  black;font-size: 1.5em;transition: font-size 1.5s ease-out, color 0.5s ease-out;}
#linklist li a:hover {color: #aa52a9; font-size: 1.7em;}
.links {padding-top: 10px;margin-top: 25px; position: relative;  top: 10px;}
.links ul {float: right;}
.fa-facebook-square {color: #3B5998;transition: color 1s ease-in;}
.fa-google-plus-square {color: #DB4437;transition: color 1s ease-in;}
.fa-twitter-square {color: #1DA1F2;transition: color 1s ease-in;}
.fa-instagram {color: black;transition: color 1s ease-in;}
.fa-facebook-square:hover, .fa-google-plus-square:hover, .fa-twitter-square:hover , .fa-instagram:hover {color: #aa52a9;}
.video .entete {font-size: 35px; position: relative; bottom: 10px; left: 10px; color: white; text-shadow: 5px 5px 10px #000000;}
.menu ul {float: right; font-size: 2.12em;font-family: 'Changa', sans-serif;
}
.listvideo li iframe {position: relative; right: 9px; top:5px; width: 310px;}
.titrevideo {font-weight: bold; font-size: 2.5em;text-align: center;position: relative; bottom: 20px; right: 10px;font-family:'Cairo',sans-serif;
}
.titrevideo:after {display: inline-block;margin-bottom: 10px;margin-right: -35px;height: 3px;content: " ";background-color: #db0000;width: 65px;}
.titrevideo:before {display: inline-block;margin-bottom: 10px;margin-right: -20px;height: 3px;content: " ";background-color: #db0000;width: 65px;}
.titrevideo .tv img {width: 45px; position: relative; bottom: 20px; left: 40px;}

.titrevideos {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px; font-family:'Cairo',sans-serif;}
.titrevideos:after {display: inline-block;margin-bottom: 10px;margin-right: 5px;height: 4px;content: " ";background-color: #db0000;width: 65px;}
.titrevideos:before {display: inline-block;margin-bottom: 10px;margin-right: 10px;height: 4px;content: " ";background-color: #db0000;width: 65px;}

.titreactu {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px; font-family:'Cairo',sans-serif;}
.titreactu:after {display: inline-block;margin-bottom: 10px;margin-right: 5px;height: 4px;content: " ";background-color: #aa52a9;width: 116px;}
.titreactu:before {display: inline-block;margin-bottom: 10px;margin-right: 10px;height: 4px;content: " ";background-color: #aa52a9;width: 116px;}

.titremode {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px; font-family:'Cairo',sans-serif;}
.titremode:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #4a1f8e;width: 216px;}
.titremode:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #4a1f8e;width: 216px;}

.titrebeauty {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px; font-family:'Cairo',sans-serif;}
.titrebeauty:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #3894e0;width: 226px;}
.titrebeauty:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #3894e0;width: 226px;}

.titrekitchen {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px; font-family:'Cairo',sans-serif;}
.titrekitchen:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #35c4b8;width: 216px;}
.titrekitchen:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #35c4b8;width: 216px;}

.titrehealth {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px; font-family:'Cairo',sans-serif;}
.titrehealth:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #14bc39;width: 226px;}
.titrehealth:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #14bc39;width: 226px;}

.titrefamily {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px;font-family:'Cairo',sans-serif;}
.titrefamily:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #91f209;width: 226px;}
.titrefamily:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #91f209;width: 226px;}

.titrenews {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px;font-family:'Cairo',sans-serif;}
.titrenews:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #fce305;width: 226px;}
.titrenews:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #fce305;width: 226px;}

.titrestars {font-weight: bold; font-size: 3.5em;text-align: center;position: relative; bottom: 35px;font-family:'Cairo',sans-serif;}
.titrestars:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #fc7f02;width: 199px;}
.titrestars:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 4px;content: " ";background-color: #fc7f02;width: 199px;}


.titreinfo {font-weight: bold; font-size: 2.5em; text-align: center; position: relative; bottom: 25px; font-family:'Cairo',sans-serif;}
.titreinfo:after {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 42px;}
.titreinfo:before {display: inline-block;margin-bottom: 10px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 42px;}

.titreweather {font-weight: bold; font-size: 1.5em; text-align: center; position: relative; bottom: 5px;  font-family:'Cairo',sans-serif;}
.titreweather:after {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 55px;}
.titreweather:before {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 55px;}

.titrehoro {font-weight: bold; font-size: 1.5em; text-align: center; position: relative; bottom: 5px;  font-family:'Cairo',sans-serif;}
.titrehoro:after {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 89px;}
.titrehoro:before {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 89px;}

.titresubscribe {font-weight: bold; font-size: 1.5em; text-align: center; position: relative; bottom: 5px;  font-family:'Cairo',sans-serif;}
.titresubscribe:after {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 70px;}
.titresubscribe:before {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 70px;}

.titreImgOfDay {font-weight: bold; font-size: 1.5em; text-align: center; position: relative; bottom: 5px;  font-family:'Cairo',sans-serif;}
.titreImgOfDay:after {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 85px;}
.titreImgOfDay:before {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 85px;}

.titreconseil {font-weight: bold; font-size: 1.5em; text-align: center; position: relative; bottom: 5px;  font-family:'Cairo',sans-serif;}
.titreconseil:after {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 85px;}
.titreconseil:before {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 85px;}

.titrenewconcepts {font-weight: bold; font-size: 1.5em; text-align: center; position: relative; bottom: 5px; font-family:'Cairo',sans-serif;}
.titrenewconcepts:after {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 75px;}
.titrenewconcepts:before {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 75px;}

.titreTonAvis {font-weight: bold; font-size: 1.5em; text-align: center; position: relative; bottom: 5px; font-family:'Cairo',sans-serif;}
.titreTonAvis:after {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 60px;}
.titreTonAvis:before {display: inline-block;margin-bottom: 5px;margin-right: 0;height: 3px;content: " ";background-color: #aa52a9;width: 60px;}



.conseils {font-family:'Changa',sans-serif;; font-weight: bold; border-right-color: #aa88a8 !important;}
.conseils p {font-size: 1.5em;}
.conseils p:before {
    content: "\f10d";
    font-family: 'Fontawesome', serif;
    float: right;
    margin-left: 10px;
}

.conseils p:after {
    content: "\f10d";
    font-family: 'Fontawesome', serif;
    float: left;
    margin-right: 10px;
}

.newconceptgroup {padding: 10px; margin: 10px;}
.newconceptgroup .concept {border: 2px groove #aa52a9; transition: all ease 1s;}
.newconceptgroup .concept p {
    font-family: 'Changa', sans-serif; color: #000; font-weight: bold; transition: all ease 1s;}
#itemConcept {margin: 10px;}
#itemConcept:hover {text-decoration: none; }
#itemConcept p:hover {color: #aa52a9; font-size: 1.2em; }
#itemConcept .concept img {width: auto; height: auto;}
#itemConcept .concept:hover {border: 10px double #aa52a9;  }


#newsletter {
    position: relative; right: 6px;
    border: 5px double #aa52a9;
}
#newsletter p {font-family:'Changa',sans-serif; font-size: 1.2em; font-weight: bold;}

#formsub input[type=email]{border: 2px solid #000; border-right: none; font-family:'Changa',sans-serif; text-align: center;}
#formsub span {border: 2px solid #000; background: #aa52a9;}
#formsub span .fa-envelope {color: #000;}
#formsub input[type=submit]{font-family:'Changa',sans-serif; width: 50%; background: #aa52a9; color: #000; font-weight: bold; transition: width 1.5s ease-in-out, background 1s ease-out;}
#formsub input[type=submit]:hover{width: 100%; background : #4a1f8e;}

#header a {font-weight: bold;}
#header .home a {color:#aa52a9;  border-bottom: 4px #aa52a9 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .home a:hover {background: #aa52a9; color: black;}
#header .mode a {color:#4a1f8e;  border-bottom: 4px #4a1f8e solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .mode a:hover {background: #4a1f8e; color: black;}
#header .beauty a {color:#3894e0;  border-bottom: 4px #3894e0 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .beauty a:hover {background: #3894e0; color: black;}
#header .kitchen a {color:#35c4b8;  border-bottom: 4px #35c4b8 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .kitchen a:hover {background: #35c4b8; color: black;}
#header .health a {color:#14bc39;  border-bottom: 4px #14bc39 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .health a:hover {background: #14bc39; color: black;}
#header .family a {color:#91f209;  border-bottom: 4px #91f209 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .family a:hover {background: #91f209; color: black;}
#header .news a {color:#fce305;  border-bottom: 4px #fce305 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .news a:hover {background: #fce305; color: black;}
#header .stars a {color:#fc7f02;  border-bottom: 4px #fc7f02 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .stars a:hover {background: #fc7f02; color: black;}
#header .videos a {color:#db0000;  border-bottom: 4px #db0000 solid;background: none;transition: background 1.5s ease-in-out, color 1s ease-in;}
#header .videos a:hover {background: #db0000; color: black;}

#points li {border: 2px black solid; position: relative; top: 60px; }
#points .active {background-color: #aa52a9;}

#pointss li {border: 2px black solid; position: relative; top: 60px; }
#pointss .active {background-color: #35c4b8;}

#pointsss li {border: 2px black solid; position: relative; top: 60px; }
#pointsss .active {background-color: #91F209;}


#carousel-example-generic {position: relative; bottom: 30px;}
#carousel-example-generic-second {position: relative; bottom: 30px;}
#carousel-example-generic-third {position: relative; bottom: 30px;}
.carousel-caption p { font-family:'Changa',sans-serif; font-size: 1.35em; color: #fff; background: black;  opacity: 0.8;position: relative; top: 60px; left: -125px;text-align: center; padding: 5px 10px; width: 630px;}

.affix {
      top:0;
      right: 0;
      width: 100%;
      padding-left: 16px !important;
      background: white;
      z-index: 9999 !important;
  }

  
.well {background: white !important; width: 104%;}
.weel {width: 108%;}
.infos {direction: rtl; margin-top: -25px;}
.infos li {position: relative; right: -40px; font-size: 1.1em; width: 280px; font-family:'Cairo',sans-serif;}
.infos li a { color: black;}
.infos li a:hover { color: #aa52a9;}

.horos {position: relative; left: 7px;}
.horos li {width: 90px; padding: 7px;}
.horos li h5 {font-size: 1em; font-family:'Cairo',sans-serif;}
.horos li a { color: black;}
.horos li a:hover { color: #aa52a9;}

.pantitreImg {font-family:'Cairo',sans-serif; font-size: 1.3em; font-style: italic; background: #fff !important;}
.panfooterImg {font-family:'Cairo',sans-serif; font-size: 1.3em; font-style: italic; background: #fff !important;
                border: 2px solid #aa52a9 !important;}                
.ImgOfDay .caption a { font-family:'Cairo',sans-serif; font-size: 1.1em; background: #aa52a9; color: #000; width: 50%;
                        transition: width 1.5s ease-in-out, background 1s ease-out; }
.ImgOfDay .caption a:hover {background: #aa32a9; width: 100%; color: #fff;}
.ImgOfDay {margin-top: 1px; }

.endbar {
    border: 3px #aa52a9;
}
.endvideo {
    border: 3px #db0000;
}
.endmode {
    border: 3px #4a1f8e;
}
.endbeauty {
    border: 3px #3894e0;
}
.endkitchen {
    border: 3px #35c4b8;
}
.endhealth {
    border: 3px #14bc39;
}
.endfamily {
    border: 3px #91f209;
}
.endnews {
    border: 3px #fce305;
}
.endstars {
    border: 3px #fc7f02;
}
.img-circle {position: relative; left: 40px;}


/* Start slider mode2*/
#mode_carousel {
    position: relative;
    top: -25px;
}
#mode_carousel .item {
    font-family:'Changa',sans-serif;
    color:#000;
    background-color:#fff;
    padding:15px 0;
}
#mode_carousel .controls li small {
    font-family:'Changa',sans-serif;
}
#mode_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#fff;
}
#mode_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#mode_carousel .controls li.active {
    background-color:#4A1F8E;
    border-top:3px solid #000;
}

#mode_carousel .controls li:hover {
    background-color:#4A1F8E;
}
#mode_carousel .caption {
    position: relative;
    top: -20px;
    left: 80px;
    width: 290px;

}
#mode_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold;
    color: #000;
}
/* End slider Mode2*/

/* Start slide beauty */
#myCarousel {position: relative; top: -30px;}
.beautybutton {background: #3894e0 !important;}
.sliderbeauty p {    font-family:'Changa',sans-serif;
    font-size: 0.8em; font-weight: 600;}
.sliderbeauty h3 {    font-family:'Changa',sans-serif;
    font-size: 1.2em; font-weight: bolder;}
.sliderbeauty h6 {    font-family:'Changa',sans-serif;
    font-size: 1em; font-style: italic;}
.sliderbeauty a {    font-family:'Changa',sans-serif;
    font-weight: bold;}
.sliderbeauty a:focus, .sliderbeauty a:hover { background-color: #3894e0 !important; color: #0f0f0f; }
.nextBeauty, .prevBeauty {color : #3894e0; }

/* End slide beauty */

/* Start slide health */
#myCarouselHealth {position: relative; top: -30px;}
.healthbutton {background: #14BC39 !important;}
.sliderhealth p {    font-family:'Changa',sans-serif;
    font-size: 0.8em; font-weight: 600;}
.sliderhealth h3 {    font-family:'Changa',sans-serif;
    font-size: 1.2em; font-weight: bolder;}
.sliderhealth h6 {    font-family:'Changa',sans-serif;
    font-size: 1em; font-style: italic;}
.sliderhealth a {    font-family:'Changa',sans-serif;
    font-weight: bold;}
.sliderhealth a:focus, .sliderhealth a:hover { background-color: #14BC39 !important; color: #0f0f0f; }
.nextHealth, .prevHealth {color : #14BC39; }
/* End slide health */


/* Start slide news */
#myCarouselNews {position: relative; top: -30px;}
.newsbutton {background: #FCE305 !important;}
.slidernews p {    font-family:'Changa',sans-serif;
    font-size: 0.8em; font-weight: 600;}
.slidernews h3 {    font-family:'Changa',sans-serif;
 font-size: 1.2em; font-weight: bolder;}
.slidernews h6 {    font-family:'Changa',sans-serif;
    font-size: 1em; font-style: italic;}
.slidernews a {    font-family:'Changa',sans-serif;
    font-weight: bold;}
.slidernews a:focus, .slidernews a:hover { background-color: #FCE305 !important; color: #0f0f0f; }
.nextNews, .prevNews {color : #FCE305; }
/* End slide news */

/* Start slide stars */

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.3.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-genderless:before,.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}
/* End of Font Awesome */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;

}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}




#testimonials {
    position: relative;
    top:  -50px;
}

#testimonials #dev-snippet-title{
    margin-top: 0;
    padding-top:30px;
}
#testimonials .testimonials-list {
    margin-top: 20px;
    margin-bottom: -50px;
    /* Slider css */
}
#testimonials .testimonials-list .single-testimonial {
    -webkit-transition: all 0.25s;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    background-color: white;
    margin: 15px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder {
    padding: 25px 15px 0;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-content {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    position: relative;
    font-family:'Changa',sans-serif;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-content .testimonial-caret {
    position: absolute;
    bottom: -46px;
    font-size: 32px;
    color: white;
    left: 50px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user {
    margin-top: 20px;
    clear: both;
    background-color:  #fc7f02;
    border-radius: 0 0 10px 10px;
    padding: 20px 40px;
    text-align: center;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-image {
    float: left;
    min-width: 75px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-image img {
    height: 75px;
    border-radius: 100%;
    border: 2px solid #E0E0E0;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-name {
    float: left;
    font-family:'Changa',sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 15px;  
    text-align: left;
    font-size: 18px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-name a {
    color: #000;
    font-size: 16px;
}
#testimonials .testimonials-list .testimonial-left-handle {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: -3.2%;
    cursor: pointer;
    color: #fc7f02;
    opacity: 0.6;
}
#testimonials .testimonials-list .testimonial-left-handle:hover {
 opacity: 1;
}
#testimonials .testimonials-list .testimonial-right-handle {
    position: absolute;
    z-index: 100;
    top: 40%;
    right: -3.2%;
    cursor: pointer;
    color: #fc7f02;
    opacity: 0.6;
}
#testimonials .testimonials-list .testimonial-right-handle:hover {
    opacity: 1;
}
#testimonials .testimonials-list .slick-dots {
    bottom: -40px;
    text-align: center;
}
#testimonials .testimonials-list .slick-dots li {
    list-style-type: none;
    display: inline-block;
}
#testimonials .testimonials-list .slick-dots li button {
    background-color: #E0E0E0;
    border-radius: 50%;
    color: #E0E0E0;
    height: 24px;
    width: 24px;
    border: 0;
    outline: none;
    margin: 0 3px;
}
#testimonials .testimonials-list .slick-dots li.slick-active button {
    background-color: #fc7f02;
    color: #fc7f02;
    border: 2px solid #E0E0E0;
}

/* End slide stars */


/************************************************************
*************************Footer******************************
*************************************************************/

.footer1 {
    background: #fff ;
    /*	border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #003;*/
    padding: 5px 0 0;
}





.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
    
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 3px;
    
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    top: 50px;
    left: 110px;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
	width:95%;
    
}

.widget_nav_menu ul li a {    font-family:'Changa',sans-serif;
    padding-right: 5px; font-size: 1.316em; color: #636363; font-weight: bold;}

.widget_nav_menu ul li a:hover {text-decoration: none; color: #aa52a9; font-weight: 300; }

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    left: 100px;
    text-transform: uppercase;
	font-family: 'Changa', sans-serif;
}

.title-median img {transition: width 1s ease-out, height 1s ease-out;}
.title-median img:hover { width: 250px;height: 150px; }

.footerp p {
    font-family: 'Changa', sans-serif; position: relative;
    left: 100px;
    }
    
#social{
    position: relative;
    left: 100px;
    }
    
#social:hover {

    }

#social {

    }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
.social-fb:hover {
    color: #aa52a9;
    }
.social-tw:hover {
    color: #aa52a9;
    }
.social-gp:hover {
    color: #aa52a9;
    }
.social-in:hover {
    color: #aa52a9;
    }
.nomargin { margin:0; padding:0;}





.footer-bottom {
    background-color: #aa6aa7;
    min-height: 10px;
    width: 100%;
}
.copyright {
    color: black;
    line-height: 30px;
    min-height: 30px;
    padding: 20px 0;
    font-weight: bold;
    text-align: right;
}

.copyright p {    font-family:'Changa',sans-serif;
    font-weight: bold; font-size: 1.4em;}
.design {
    color: Black;
    line-height: 30px;
    min-height: 30px;
    padding: 20px 0;
    text-align: left;
}
.design a {
    color: Black;
    font-family:'Changa',sans-serif;
    font-style: italic;
    font-size: 1.1em;
}

.design a:hover {
    font-size: 1.4em;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.design p {
    color: Black;
    font-family:'Changa',sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.fa-chevron-left {
    color : #aa6aa7;
}
/************************************************************
*************************Footer******************************
*************************************************************/


/**********************Start Weather APP*****************************************/
.weather-app {
    width: 300px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align:center;
    font-family:'Changa',sans-serif;
}

.left-app {
    float: left;
    background: #AA3333;
    padding:0;
    width:168px;
    height:100%;
    color:white;
}

.temperature {
    margin-top:30px;
    margin-bottom:5px;
    font-size:32px;
    font-weight: bold;
    width: 150px;
}

.location {
    font-size: 18px;
    width:150px;
}

.right-app {
    float: right;
    width:130px;
    height:100%;
}

.top-app {
    height: 100px;
    width: 100%;
    margin: auto;
    background: #aa52a9;
}

.top-app img {
    margin-top: 15px;
}

.bottom-app {
    height: 70px;
    background: #3894E0;
    color: white;
    font-weight: bold;
}

.humidity {
    padding: 8px;
}

.wind {
}

/********************END WEATHER APP*******************************************/

/**************************Ton Avis Form**************************************/
.headingAvis .headingTop {    font-family:'Cairo',sans-serif;
    font-size: 1em;}

.formAvis {
	padding: 10px;
}

.formAvis .imgBtnGroup {
    height: 100px;
    width: 250px;
    margin: auto;
}

.formAvis .imgBtnGroup img {
    width: 100px;
    height: 80px;
}

.formAvis .imgBtnGroup .product {
	padding: 50px;
	box-shadow: none;
	position: relative;
}

.formAvis .imgBtnGroup .product.active {
	outline: none !important;
}

.formAvis .imgBtnGroup .product.active .productImg {
	border-color: #aa52a9;
	outline: none !important;
	box-shadow: 0 3px 22px 5px purple;
}

.formAvis .imgBtnGroup .product .productImg {
	position: absolute;
	right: 3px;
	top: 5px;
	bottom: 10px;
	left: 3px;
	background-size: contain;
    background: no-repeat center;
    border: 2px solid transparent;
	transition: all 0.5s;
}


.formAvis .imgBtnGroup .product .productImg:hover {
	border-color: #aa52a9;
	outline: none !important;
}

.footerAvis .avis {
    font-family:'Cairo',sans-serif;
    font-size: 1.1em;
    background: #aa52a9;
    color: #000;
    width: 50%;
    transition: width 1.5s ease-in-out, background 1s ease-out; 
}
.footerAvis .avis:hover {background: #aa32a9; width: 100%; color: #fff;}
/*****************************************************************************************************************************/
.label-mode {background-color: #4a1f8e;}
.label-beauty {background-color: #3894e0;}
.label-kitchen {background-color: #35c4b8;}
.label-health {background-color: #14bc39;}
.label-family {background-color: #91f209;}
.label-news {background-color: #fce305;}
.label-stars {background-color: #fc7f02;}
.label-videos {background-color: #db0000;}
.entete2 {font-size: 35px; position: relative; bottom: 10px;color: red; text-shadow: 5px 5px 10px #000000;left: 32px;}